
    :root {
    --White: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);
    --attribution-color: hsl(228, 45%, 44%);
    }

    body {
        font-size: 0.9375rem;
        font-family: "Outfit", sans-serif;
        font-weight: 400;
    }
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color:  var(--attribution-color);}

/*
    * {
        border: 1px solid red;
        
    } * */


    .container {
        display: grid;
        min-width: fit-content;
        min-height: 100vh;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: 'image-qr-code';
        gap: 0px;
        justify-content: center;
        align-items: center;
        background-color: var(--Slate-300);


    }
    .image-qr-code {
        grid-area: image-qr-code;
        background-color: var(--White);
        width: 340px;
        text-align: center;
        border: 1px;
        border-radius: 2%;
    }

    .main-statement {
        font-weight: 700;
    }

    .instruction {
        color: var(--Slate-500);
        

    }

    .image-qr-code img {
        border-radius: 2%;
        margin-top: 20px;
    }

@media screen and ( width < 1440px) {  

    img {
        width: 200px;
        height: 200px;
        padding: 1px;
    }

        .image-qr-code {
        width: 240px;
    }

    .attribution {
        height: 3rem;
        font-size: 11px;
        background: var(--White);
    }
}